!!! xml
%feed{:xmlns => 'http://www.w3.org/2005/Atom'}
 
  %title @hughevans - Ruby, Art and All things...
  %link{:href => 'http://hughevans.net', :rel => 'self', :hreflang => 'en', :type => 'application/atom+xml'}
   
  %author
    %name Hugh Evans
    %uri http://hughevans.net/

  %updated= @articles.first.published.xmlschema
  %id= "tag:hughevans.net,#{@articles.first.published.strftime('%Y-%m-%d')}:#{article_path(@articles.first)}"
  
  - for article in @articles
    %entry
      %id= "tag:hughevans.net,#{article.published.strftime('%Y-%m-%d')}:#{article_path(article)}"
      %title= article.title
      %published= article.published.xmlschema
      %updated= article.last_modified.xmlschema
      %link{:href => "http://hughevans.net#{article_path(article)}", :rel => 'alternate', :hreflang => 'en', :type => 'text/html'}
      %content{:type => 'xhtml', 'xml:lang' => 'en', 'xml:base'=>'http://hughevans.net/'}
        %div{:xmlns => 'http://www.w3.org/1999/xhtml'}= absoluteify_links(article_body(article))